BlogApp.UI/BlogApp.UI/Connected Services/BlogServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.DTO" />
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="user" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="FileByteStream" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filePath" nillable="true" type="xs:string" />
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="ConnectResult" nillable="true" type="q4:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByUserHashTages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByUserHashTagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetArticlesByUserHashTagesResult" nillable="true" type="q5:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashtag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHashTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetHashTagResult" nillable="true" type="q6:HashTagDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByHashTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hashtag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesByHashTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetArticlesByHashTagResult" nillable="true" type="q7:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikedArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikedArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetLikedArticlesResult" nillable="true" type="q8:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLikedArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="articles" nillable="true" type="q9:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLikedArticlesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetMyArticlesResult" nillable="true" type="q10:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMyArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="articles" nillable="true" type="q11:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMyArticlesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewedArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewedArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetViewedArticlesResult" nillable="true" type="q12:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetViewedArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="articles" nillable="true" type="q13:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetViewedArticlesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetFavoriteArticlesResult" nillable="true" type="q14:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavoriteArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="articles" nillable="true" type="q15:ArrayOfArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavoriteArticlesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHashTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserHashTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetUserHashTagsResult" nillable="true" type="q16:ArrayOfHashTagDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserHashTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="hashTags" nillable="true" type="q17:ArrayOfHashTagDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserHashTagsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesHashTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="article" nillable="true" type="q18:ArticleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticlesHashTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetArticlesHashTagsResult" nillable="true" type="q19:ArrayOfHashTagDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleHashTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="article" nillable="true" type="q20:ArticleDTO" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="hashTagDTOs" nillable="true" type="q21:ArrayOfHashTagDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleHashTagsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="t" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>