BlogApp.UI/HostTest/Connected Services/ServiceReference/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBlogService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileRequest">
    <wsdl:part name="parameters" element="tns:UploadFileRequest" />
  </wsdl:message>
  <wsdl:message name="UploadFileRequest_Headers">
    <wsdl:part name="filePath" element="tns:filePath" />
  </wsdl:message>
  <wsdl:message name="UploadFileInfo">
    <wsdl:part name="parameters" element="tns:UploadFileInfo" />
  </wsdl:message>
  <wsdl:message name="DownloadFileRequest">
    <wsdl:part name="parameters" element="tns:DownloadFileRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadFileInfo">
    <wsdl:part name="parameters" element="tns:DownloadFileInfo" />
  </wsdl:message>
  <wsdl:message name="DownloadFileInfo_Headers">
    <wsdl:part name="fileId" element="tns:fileId" />
    <wsdl:part name="fileName" element="tns:fileName" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DownloadFileTest_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileTest" />
  </wsdl:message>
  <wsdl:message name="IBlogService_DownloadFileTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/DoWork" message="tns:IBlogService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/DoWorkResponse" message="tns:IBlogService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/UploadFile" name="UploadFileRequest" message="tns:UploadFileRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/UploadFileResponse" name="UploadFileInfo" message="tns:UploadFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/DownloadFile" name="DownloadFileRequest" message="tns:DownloadFileRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/DownloadFileResponse" name="DownloadFileInfo" message="tns:DownloadFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/DownloadFileTest" message="tns:IBlogService_DownloadFileTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/DownloadFileTestResponse" message="tns:IBlogService_DownloadFileTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBlogService" type="tns:IBlogService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBlogService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IBlogService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IBlogService/UploadFile" style="document" />
      <wsdl:input name="UploadFileRequest">
        <soap12:header message="tns:UploadFileRequest_Headers" part="filePath" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadFileInfo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/IBlogService/DownloadFile" style="document" />
      <wsdl:input name="DownloadFileRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadFileInfo">
        <soap12:header message="tns:DownloadFileInfo_Headers" part="fileId" use="literal" />
        <soap12:header message="tns:DownloadFileInfo_Headers" part="fileName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileTest">
      <soap12:operation soapAction="http://tempuri.org/IBlogService/DownloadFileTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="NetTcpBinding_IBlogService" binding="tns:NetTcpBinding_IBlogService">
      <soap12:address location="net.tcp://localhost:8734/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>